.default-animation {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.default-animation--scene {
  display: grid;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--cube-face-border, 1px solid #fff);
  background-color: var(--cube-face-bg, #060010);
  box-shadow: var(--cube-face-shadow, none);
  backface-visibility: hidden;
}

.cube-face--front {
  transform: rotateY(0deg) translateZ(50%);
}

.cube-face--back {
  transform: rotateY(180deg) translateZ(50%);
}

.cube-face--right {
  transform: rotateY(90deg) translateZ(50%);
}

.cube-face--left {
  transform: rotateY(-90deg) translateZ(50%);
}

.cube-face--top {
  transform: rotateX(90deg) translateZ(50%);
}

.cube-face--bottom {
  transform: rotateX(-90deg) translateZ(50%);
}

